<div class="container md-whiteframe-0dp">
    <md-content class="md-padding md-whiteframe-0dp" layout-xs="column" layout="row">
        <md-card class="md-whiteframe-0dp" ng-style="{{ctrl.car.paddingLeft}}">
            <img ng-src="{{ctrl.car.image.url}}" class="md-ctrl.card-image" id="{{ctrl.car.image.id}}" usemap="{{ctrl.car.image.usemap}}">
            <map name="{{ctrl.car.map.name}}">
                <area ng-repeat="area in ctrl.car.map.areas"
                      ng-click="ctrl.areaClick(area)"
                      alt="{{area.alt}}" 
                      name="{{area.title}}"
                      title="{{area.title}}"  
                      href="#" 
                      coords="{{area.coords}}" 
                      shape="{{area.shape}}">
            </map>
        </md-ctrl.card>
    </md-content>
</div>

<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="100" layout="column">
    <md-input-container>
          <label>Sub-Componente</label>
          <md-select ng-model="ctrl.car.component.subComponent"
                     ng-change="ctrl.saveData(ctrl.car)">
            <md-option ng-repeat="subComponent in ctrl.car.component.subComponents" 
                       ng-value="subComponent">
              {{subComponent.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Categorias</label>
          <md-select ng-model="ctrl.car.component.category"
                     ng-change="ctrl.saveData(ctrl.car);">
            <md-option ng-repeat="category in ctrl.categories" 
                       ng-value="category">
              {{category.Nombre}}
            </md-option>
          </md-select>
          <md-progress-linear md-mode="indeterminate" ng-hide="!ctrl.loading">
          </md-progress-linear>
      </md-input-container>
      <md-input-container>
          <label>Repuestos</label>
          <md-select ng-model="ctrl.car.component.replacement"
                     ng-change="ctrl.saveData(ctrl.car);">
            <md-option ng-repeat="replacement in ctrl.replacements" 
                       ng-value="replacement">
              {{replacement.Nombre}}
            </md-option>
          </md-select>
      </md-input-container>
  </div>
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-input-container>
          <label>Accion</label>
          <md-select ng-model="ctrl.car.component.action"
                     ng-change="ctrl.saveData(ctrl.car)">
            <md-option ng-repeat="action in ctrl.actions" 
                       ng-value="action">
              {{action.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Marca</label>
          <md-select ng-model="ctrl.car.component.brand"
                     ng-change="ctrl.saveData(ctrl.car); ctrl.getMakeYearByBrand(ctrl.car.component.brand)">
            <md-option ng-repeat="brand in ctrl.brands" 
                       ng-value="brand">
              {{brand.Nombre}}
            </md-option>
          </md-select>
          <md-progress-linear md-mode="indeterminate" ng-hide="!ctrl.loading">
          </md-progress-linear>
        </md-input-container>
    </div>
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-input-container>
        <label>Tipo Lista</label>
        <md-select ng-model="ctrl.car.component.damageType"
                    ng-change="ctrl.saveData(ctrl.car)">
          <md-option ng-repeat="damageType in ctrl.damageTypes" 
                      ng-value="damageType">
            {{damageType.name}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
          <label>Modelo</label>
          <md-select ng-model="ctrl.car.component.makeYear"
                     ng-change="ctrl.saveData(ctrl.car); 
                                ctrl.getReplacements(ctrl.car.component);">
            <md-option ng-repeat="makeYear in ctrl.makeYears" 
                       ng-value="makeYear">
              {{makeYear.Nombre}}
            </md-option>
          </md-select>
        </md-input-container>
    </div>
</md-content>

<div class="row" flex>
  <div flex-xs flex-gt-xs="100" layout="column">
    <md-button class="md-raised md-primary pull-left"
                ng-click="ctrl.car.component.save(ctrl.car)">
      Agregar a Lista
    </md-button>
  </div>
</div>

<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="100" layout="column">
    <md-list-item ng-repeat="(id, item) in ctrl.contentFactory.map"
                  ng-click="ctrl.areaClick(item.component)"
                  ng-if="item.component.view === ctrl.car.view && 
                         item.component.isSaved">

      <p> {{ item.component.id }} </p>
      <p> {{ item.component.name }} </p>
      <p> {{ item.component.subComponent.name }} </p>
      <p> {{ item.component.action.name }} </p>
      <p> {{ item.component.damageType.name }} </p>
      <p> {{ item.component.category.Nombre }} </p>
      <p> {{ item.component.brand.Nombre }} </p>
      <p> {{ item.component.makeYear.Nombre }} </p>
      <p> {{ item.component.replacement.Nombre }} </p>

      <md-button class="md-raised md-warn"
                 ng-click="item.component.delete()">
        Remover
      </md-button>

    </md-list-item>

    <div class="column" style="text-align: center;">
      <md-button class="md-fab md-primary" aria-label="Guardar Orden">
        <md-icon class="material-icons" aria-label="Save">save</md-icon>
      </md-button>
      <md-button class="md-fab md-primary" aria-label="Imprimir Orden">
        <md-icon class="material-icons" aria-label="Print">print</md-icon>
      </md-button>
    </div>

  </div>
</md-content>