
  <div class="container md-whiteframe-0dp" ng-init="ctrl.onInit()">
      <md-content class="md-padding md-whiteframe-0dp" layout-xs="column" layout="row">
          <md-card class="md-whiteframe-0dp" ng-style="{{ctrl.car.paddingLeft}}">
              <img ng-src="{{ctrl.car.image.url}}" class="md-ctrl.card-image" id="{{ctrl.car.image.id}}" usemap="{{ctrl.car.image.usemap}}">
              <map name="{{ctrl.car.map.name}}">
                  <area ng-repeat="area in ctrl.car.map.areas"
                        ng-click="ctrl.areaClick($event, area.title)"
                        alt="{{area.alt}}" 
                        name="{{area.title}}"
                        title="{{area.title}}"  
                        ng-href="#" 
                        coords="{{area.coords}}" 
                        shape="{{area.shape}}">
              </map>
          </md-card>
      </md-content>
  </div>

  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-input-container>
        <label>Sub-Componente</label>
        <md-select ng-model="ctrl.car.component.subComponent"
                  ng-change="ctrl.saveData(ctrl.car)">
          <md-option ng-repeat="subComponent in ctrl.car.component.subComponents" 
                    ng-value="subComponent">
            {{subComponent.name}}
          </md-option>
        </md-select>
      </md-input-container>
        <md-input-container>
          <label>Categorias</label>
          <md-select ng-model="ctrl.car.component.subComponent.category"
                    ng-change="ctrl.saveData(ctrl.car);">
            <md-option ng-repeat="category in ctrl.categories" 
                      ng-value="category">
              {{category.Nombre}}
            </md-option>
          </md-select>
          <md-progress-linear md-mode="indeterminate" ng-hide="!ctrl.loading">
          </md-progress-linear>
      </md-input-container>
      <md-input-container>
          <label>Repuestos</label>
          <md-select ng-model="ctrl.car.component.subComponent.replacement"
                    ng-change="ctrl.saveData(ctrl.car);">
            <md-option ng-repeat="replacement in ctrl.replacements" 
                      ng-value="replacement">
              {{replacement.Nombre}}
            </md-option>
          </md-select>
      </md-input-container>
  </div>
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-input-container>
          <label>Accion</label>
          <md-select ng-model="ctrl.car.component.subComponent.action"
                    ng-change="ctrl.saveData(ctrl.car)">
            <md-option ng-repeat="action in ctrl.actions" 
                      ng-value="action">
              {{action.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Marca</label>
          <md-select ng-model="ctrl.car.component.subComponent.brand"
                    ng-change="ctrl.saveData(ctrl.car); ctrl.getReplacements(ctrl.car.component);">
            <md-option ng-repeat="brand in ctrl.brands" 
                      ng-value="brand">
              {{brand.Nombre}}
            </md-option>
          </md-select>
          <md-progress-linear md-mode="indeterminate" ng-hide="!ctrl.loading">
          </md-progress-linear>
        </md-input-container>
        <md-input-container>
          <label>Repuesto Generico</label>
          <textarea ng-model="ctrl.car.component.subComponent.genericReplacement"
                    ng-disabled="ctrl.car.component.subComponent.replacement.Id !== '1'" 
                    md-maxlength="100" 
                    rows="1" 
                    md-select-on-focus></textarea>
          <md-progress-linear md-mode="indeterminate" ng-hide="!ctrl.loading">
          </md-progress-linear>
        </md-input-container>
      </div>
      <div flex-xs flex-gt-xs="100" layout="column">
        <md-input-container>
          <label>Tipo Lista</label>
          <md-select ng-model="ctrl.car.component.subComponent.damageType"
                      ng-change="ctrl.saveData(ctrl.car)">
            <md-option ng-repeat="damageType in ctrl.damageTypes" 
                        ng-value="damageType">
              {{damageType.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <!--<md-input-container>
          <label>Modelo</label>
          <md-select ng-model="ctrl.car.component.subComponent.makeYear"
                    ng-change="ctrl.saveData(ctrl.car); 
                                ctrl.getReplacements(ctrl.car.component);">
            <md-option ng-repeat="makeYear in ctrl.makeYears" 
                      ng-value="makeYear">
              {{makeYear.Nombre}}
            </md-option>
          </md-select>
        </md-input-container>-->
      </div>
  </md-content>

  <div class="row" flex>
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-button class="md-raised md-primary pull-left"
                  ng-click="ctrl.orderDetailFactory.addToList(ctrl.car.component.subComponent)"
                  ng-disabled="!ctrl.car.component.subComponent">
        Agregar a Lista
      </md-button>
    </div>
  </div>

  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-list-item ng-repeat="(id, item) in ctrl.orderDetailFactory.listMap"
                    ng-click="ctrl.onListMapSelect($event, item.componentId)"
                    ng-if="item.view === ctrl.car.view">

        <p> {{ item.id }} </p>
        <p> {{ item.name }} </p>
        <p> {{ item.action.name }} </p>
        <p> {{ item.damageType.name }} </p>
        <p> {{ item.category.Nombre }} </p>
        <p> {{ item.brand.Nombre }} </p>
        <p> {{ item.makeYear.Nombre }} </p>
        <p> {{ item.replacement.Nombre }} </p>

        <md-button class="md-raised md-warn"
                  ng-click="ctrl.orderDetailFactory.removeFromList(item)">
          Remover
        </md-button>

      </md-list-item>

      <div class="column" style="text-align: center;">
        <md-button class="md-fab md-primary" aria-label="Guardar Orden" 
            ng-disabled="ctrl.disableSaveOrderBtn()"
            ng-click="ctrl.saveOrder()">
          <md-icon class="material-icons" aria-label="Save">save</md-icon>
        </md-button>
        <md-button class="md-fab md-primary" aria-label="Imprimir Orden">
          <md-icon class="material-icons" aria-label="Print">print</md-icon>
        </md-button>
      </div>
      <div id="toastSaveOrder"></div>

    </div>
  </md-content>
