<div layout="column" ng-cloak class="md-inline-form">

  <md-content layout-padding>
    <div>
      <form name="userForm">

        <div layout-gt-xs="row" flex-gt-xs>
          <md-input-container>
            <div>
                <label>Fecha</label>
                <p>{{ctrl.convertDate(ctrl.order.date)}}</p>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-block">
            <label>Nombre del Cliente</label>
            <textarea ng-model="ctrl.order.clientName" 
                        md-maxlength="100" 
                        rows="1" 
                        md-select-on-focus></textarea>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container flex-gt-sm>
                <label>Cliente</label>
                <md-autocomplete
                    ng-disabled="ctrl.isDisabled"
                    md-no-cache="ctrl.noCache"
                    md-selected-item="ctrl.selectedItem"
                    md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                    md-search-text="ctrl.searchText"
                    md-selected-item-change="ctrl.selectedItemChange(item)"
                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                    md-item-text="item.NOMBRE"
                    md-min-length="0"
                    placeholder="Ingrese Nit o Nombre">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">
                            {{item.NOMBRE + ' ' + item.NIT}}</span>
                    </md-item-template>
                    <md-not-found>
                    No hay resultados para "{{ctrl.searchText}}".
                    </md-not-found>
                </md-autocomplete>
            </md-input-container>

            <md-input-container flex-gt-sm>
                <label>Vehiculo</label>
                <md-select ng-model="ctrl.order.vehicle">
                    <md-option ng-repeat="vehicle in ctrl.vehicles" 
                            ng-value="vehicle">
                    {{vehicle.MARCA}} {{vehicle.MODELO}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex-gt-sm>
                <label>Combustible</label>
                <md-select ng-model="ctrl.order.gasOption">
                    <md-option ng-repeat="gasOption in ctrl.gasOptions" 
                            ng-value="gasOption">
                    {{gasOption.id}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container flex-gt-sm>
                <label>Km/Millas</label>
                <input ng-model="ctrl.order.distance"></input>
            </md-input-container>

            <md-input-container flex-gt-sm>
                <label>Empleado Receptor</label>
                <md-select ng-model="ctrl.order.employeeReceptor">
                    <md-option ng-repeat="receptor in ctrl.employeesReceptor" 
                            ng-value="receptor">
                    {{receptor.NOMBRES}} {{receptor.APELLIDOS}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex-gt-sm>
                <label>Empleado Responsable</label>
                <md-select ng-model="ctrl.order.employeeResponsable">
                    <md-option ng-repeat="receptor in ctrl.employeesResponsable" 
                            ng-value="receptor">
                    {{receptor.NOMBRES}} {{receptor.APELLIDOS}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Observaciones</label>
          <textarea ng-model="ctrl.order.observation" 
                    md-maxlength="100" 
                    rows="4" 
                    md-select-on-focus></textarea>
        </md-input-container>

      </form>

      <div flex-xs flex-gt-xs="100" layout="column">
        <md-button class="md-raised md-primary pull-right"
                    ng-click="ctrl.saveOrder()"
                    ng-disabled="!ctrl.order">
            Guardar Orden
        </md-button>
      </div>

    </div>
  </md-content>

</div>