@mixin radial-gradient($from, $to) {
	background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
	background: radial-gradient(center, circle cover, $from 0%, $to 100%);
	background-color: $from;
}

.radial {
	@include radial-gradient(#fff, #fff);
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

a:active,
a:focus {
    /* -webkit-focus-ring-color = '#5B9DD9' */
    outline: -webkit-focus-ring-color auto 5px !important;
}

md-input-container {
  font-size: 22px !important;
}

.md-whiteframe-0dp {
    box-shadow: 0px 0px 0px transparent !important;
}

.transparent {
  background-color: transparent;
}

img:focus {outline:0;}

label {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

md-toolbar {
  background-color: #de3641 !important;
  margin: auto;
  font-weight: 500;
  height: 50px;
  min-height: 50px;
  max-height: 100px !important;
}

md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
 min-width: 150px !important;
 width: 50vw !important;
 max-width: 150px !important;
}

md-content {
  background-color: #fff !important;;
}

md-list-item > button {
  width:100%;
  text-align:left !important;
}

md-list-item.selected {
  background-color: #ddd !important;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

.avatar {
  background-color: #84d8fd;
  position: relative;
  width: 165px;
  height: 158px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  // -webkit-transform: scaleY(0.6) scaleX(0.9);
  -moz-transform: scaleY(0.6) scaleX(0.9);
}