<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
      <form name="userForm">
        <md-input-container>
        <label>Title</label>
        <input ng-model="user.title">
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input ng-model="user.email" type="email">
      </md-input-container>
      </form>
    </div>
</md-content>

<div class="container md-whiteframe-0dp">
    <md-content class="md-padding md-whiteframe-0dp" layout-xs="column" layout="row">
        <md-card class="md-whiteframe-0dp">
            <img ng-src="{{ctrl.car.image.url}}" class="md-ctrl.card-image" id="{{ctrl.car.image.id}}" usemap="{{ctrl.car.image.usemap}}">
            <map name="{{ctrl.car.map.name}}" ng-click="ctrl.areaClick()">
                <area ng-repeat="area in ctrl.car.map.areas"
                      alt="{{area.alt}}" 
                      title="{{area.title}}"  
                      href="#" 
                      coords="{{area.coords}}" 
                      shape="{{area.shape}}">
            </map>
        </md-ctrl.card>
    </md-content>
</div>